body{
    background-color:lightskyblue

}
/* home section start--------------------*/
.home{
    width: 100%;
    height: 75%;
    background-color:lightcoral;
    border-radius: 20px;
}
.about-title-section{
    width: 100p%;
    height: 100px;
    background-color:azure;
}
/* about section end-----------------*/

/* project section start--------------*/
.project-title-section{
    width: 100p%;
    height: 100px;
    background-color:azure;
}
.project-title-section{
    width: 100p%;
    height: 100px;
    background-color:azure;
}